.music-descriptions {
    width: 100%;
    list-style: none;
    padding: 1.5rem;
    
    li {
        padding: 1rem;
    }
}

.music-title {
    padding: 0 1rem;

    span {
       color: #FF533D;
    }
}

h3 {
    padding: 0.25rem 1rem;
    font-size: 90%;
    color: #3590F3;
}